body {
  background: grey;
}

/* CONTAINER */
.container {
  display: grid;
  width: 400px;
  height: 500px;
}


.mon {
  padding: 20px;
  margin: 10px;
  border: 2px red solid;
  /* width: 200px; */
  text-align: center;
}


/* SINGLE TYPES*/
.normal {
  background-color:#A8A878;
  /* background-color:rgb(168, 168, 120); */
}

.fight {
  background-color:#C03028;
  /* background-color:rgb(192, 48, 40); */
}

.flying {
  background-color:#A890F0;
  /* background-color:rgb(168, 144, 240); */
}

.poison {
  background-color:#A040A0;
  /* background-color:rgb(160, 64, 160); */
}

.ground {
  background-color:#E0C068;
  /* background-color:rgb(224, 192, 104); */
}

.rock {
  background-color:#B8A038;
  /* background-color:rgb(184, 160, 56); */

}

.bug {
  background-color:#A8B820;
  /* background-color:rgb(168, 184, 32); */
}

.ghost {
  background-color:#705898;
  /* background-color:rgb(112, 88, 152); */
}

.steel {
  background-color:#B8B8D0;
  /* background-color:rgb(184, 184, 208); */
}

.fire {
  background-color:
  /* background-color:rgb(240, 128, 48); */
}

.water {
  background-color:#6890F0;
  /* background-color:rgb(104, 144, 240); */
}

.grass {
  background-color:#78C850;
  /* background-color:rgb(120, 200, 80); */
}

.electric {
  background-color:#F8D030;
  /* background-color:rgb(248, 208, 48); */
}

.psychic {
  background-color:#F85888;
  /* background-color:rgb(248, 88, 136); */
}

.ice {
  background-color:#98D8D8;
  /* background-color:rgb(152, 216, 216); */
}

.dragon {
  background-color:#7038F8;
  /* background-color:rgb(112, 56, 248); */
}

.dark {
  background-color:#705848;
  /* background-color:rgb(112, 88, 72); */
}

.fairy {
  background-color:#EE99AC;
  /* background-color:rgb(238, 153, 172); */
}


