/* Colors */
:root {
  --normal: #A8A878;
  --fighting: #C03028;
  --flying: #A890F0;
  --poison: #A040A0;
  --ground: #E0C068;
  --rock: #B8A038;
  --bug: #A8B820;
  --ghost: #705898;
  --steel: #B8B8D0;
  --fire: #F08030;
  --water: #6890F0;
  --grass: #78C850;
  --electric: #F8D030;
  --psychic: #F85888;
  --ice: #98D8D8;
  --dragon: #7038F8;
  --dark: #705848;
  --fairy: #EE99AC;
}

body {
  background: grey;
}

/* CONTAINER */
.container {
  display: grid;
  height: 500px;
}


.mon {
  padding: 20px;
  margin: 10px;
  border: 2px red solid;
  width: 180px;
  text-align: center;
}

.mon img {
  height: 180px;
}


/* SINGLE TYPES*/
.normal {
  background-color: var(--normal);
}

.fighting {
  background-color: var(--fighting);
}

.flying {
  background-color: var(--flying);
}

.poison {
  background-color: var(--poison);
}

.ground {
  background-color: var(--ground);
}

.rock {
  background-color: var(--rock);
}

.bug {
  background-color: var(--bug);
}

.ghost {
  background-color: var(--ghost);
}

.steel {
  background-color: var(--steel);
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}

.grass {
  background-color: var(--grass);
}

.electric {
  background-color: var(--electric);
}

.psychic {
  background-color: var(--psychic);
}

.ice {
  background-color: var(--ice);
}

.dragon {
  background-color: var(--dragon);
}

.dark {
  background-color: var(--dark);
}

.fairy {
  background-color: var(--fairy);
}


/* DUAL TYPES */

.bug-grass {
  background: linear-gradient(var(--grass) 0%, var(--bug)100%);
}

.bug-poison {
  background: linear-gradient(var(--poison) 0%, var(--bug)100%);
}

.dragon-flying {
  background: linear-gradient(var(--flying) 0%, var(--dragon)100%);
}

.electric-flying {
  background: linear-gradient(var(--flying) 0%, var(--electric)100%);
}

.electric-steel {
  background: linear-gradient(var(--steel) 0%, var(--electric)100%);
}

.ghost-poison {
  background: linear-gradient(var(--poison) 0%, var(--ghost)100%);
}

.grass-psychic {
  background: linear-gradient(var(--psychic) 0%, var(--grass)100%);
}

.ground-rock {
  background: linear-gradient(var(--rock) 0%, var(--ground)100%);
}

.ice-flying {
  background: linear-gradient(var(--flying) 0%, var(--ice)100%);
}

.ice-psychic {
  background: linear-gradient(var(--psychic) 0%, var(--ice)100%);
}

.normal-fairy {
  background: linear-gradient(var(--fairy) 0%, var(--normal)100%);
}

.bug-flying {
  background: linear-gradient(var(--flying) 0%, var(--bug)100%);
}

.normal-flying {
  background: linear-gradient(var(--flying) 0%, var(--normal)100%);
}

.poison-dark {
  background: linear-gradient(var(--dark) 0%, var(--poison)100%);
}

.poison-flying {
  background: linear-gradient(var(--flying) 0%, var(--poison)100%);
}

.poison-dark {
  background: linear-gradient(var(--dark) 0%, var(--poison)100%);
}

.poison-flying {
  background: linear-gradient(var(--flying) 0%, var(--poison)100%);
}

.poison-ground {
  background: linear-gradient(var(--ground) 0%, var(--poison)100%);
}

.psychic-fairy {
  background: linear-gradient(var(--fairy) 0%, var(--psychic)100%);
}

.rock-flying {
  background: linear-gradient(var(--flying) 0%, var(--rock)100%);
}

.rock-ground {
  background: linear-gradient(var(--ground) 0%, var(--rock)100%);
}

.rock-water {
  background: linear-gradient(var(--water) 0%, var(--rock)100%);
}

.water-fighting {
  background: linear-gradient(var(--fighting) 0%, var(--water)100%);
}

.water-flying {
  background: linear-gradient(var(--flying) 0%, var(--water)100%);
}

.water-ice {
  background: linear-gradient(var(--ice) 0%, var(--water)100%);
}

.water-poison {
  background: linear-gradient(var(--poison) 0%, var(--water)100%);
}

.water-psychic {
  background: linear-gradient(var(--psychic) 0%, var(--water)100%);
}

.grass-poison {
  background: linear-gradient(var(--poison) 0%, var(--grass)100%);
}

.fire-flying {
  background: linear-gradient(var(--flying) 0%, var(--fire)100%);
}

.bug-flying {
  background: linear-gradient(var(--flying) 0%, var(--bug)100%);
}