/* Colors */
:root {
  --normal: #A8A878;
  --fight: #C03028;
  --flying: #A890F0;
  --poison: #A040A0;
  --ground: #E0C068;
  --rock: #B8A038;
  --bug: #A8B820;
  --ghost: #705898;
  --steel: #B8B8D0;
  --fire: #F08030;
  --water: #6890F0;
  --grass: #78C850;
  --electric: #F8D030;
  --psychic: #F85888;
  --ice: #98D8D8;
  --dragon: #7038F8;
  --dark: #705848;
  --fairy: #EE99AC;
}

body {
  background: grey;
}

/* CONTAINER */
.container {
  display: grid;
  height: 500px;
}


.mon {
  padding: 20px;
  margin: 10px;
  border: 2px red solid;
  width: 180px;
  text-align: center;
}

.mon img {
  height: 180px;
}


/* SINGLE TYPES*/
.normal {
  background-color: var(--normal);
}

.fight {
  background-color: var(--fight);
}

.flying {
  background-color: var(--flying);
}

.poison {
  background-color: var(--poison);
}

.ground {
  background-color: var(--ground);
}

.rock {
  background-color: var(--rock);

}

.bug {
  background-color: var(--bug);
}

.ghost {
  background-color: var(--ghost);
}

.steel {
  background-color: var(--steel);
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}

.grass {
  background-color: var(--grass);
}

.electric {
  background-color: var(--electric);
}

.psychic {
  background-color: var(--psychic);
}

.ice {
  background-color: var(--ice);
}

.dragon {
  background-color: var(--dragon);
}

.dark {
  background-color: var(--dark);
}

.fairy {
  background-color: var(--fairy);
}


/* DUAL TYPES */

.grass-poison {
  background: linear-gradient(var(--poison) 0%, var(--grass)100%);
}

.fire-flying {
  background: linear-gradient(var(--flying) 0%, var(--fire)100%);
}

.bug-flying {
  background: linear-gradient(var(--flying) 0%, var(--bug) 100%);
}