/* Colors */
:root {
  --normal: #a8a878;
  --fighting: #c03028;
  --flying: #a890f0;
  --poison: #a040a0;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ghost: #705898;
  --steel: #b8b8d0;
  --fire: #f08030;
  --water: #6890f0;
  --grass: #78c850;
  --electric: #f8d030;
  --psychic: #f85888;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --dark: #705848;
  --fairy: #ee99ac;
}

/* BODY */
body {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
}

/* BLOCK ELEMENTS */
.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  box-sizing: border-box;

  /* code below centers the cards on the axis */
  margin: 0 auto;
  justify-content: center;
}

.mon {
  width: 180px;
  height: 180px;
  padding: 25px;
  margin: 10px;
  border: 1px white solid;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 5px;
}

.mon img {
  height: 180px;
}

/* STATES */
.mon:hover {
  border: red 1px solid;
}

/* SINGLE TYPES*/

.normal {
  background-color: var(--normal);
}
.fighting {
  background-color: var(--fighting);
}
.flying {
  background-color: var(--flying);
}
.poison {
  background-color: var(--poison);
}
.ground {
  background-color: var(--ground);
}
.rock {
  background-color: var(--rock);
}
.bug {
  background-color: var(--bug);
}
.ghost {
  background-color: var(--ghost);
}
.steel {
  background-color: var(--steel);
}
.fire {
  background-color: var(--fire);
}
.water {
  background-color: var(--water);
}
.grass {
  background-color: var(--grass);
}
.electric {
  background-color: var(--electric);
}
.psychic {
  background-color: var(--psychic);
}
.ice {
  background-color: var(--ice);
}
.dragon {
  background-color: var(--dragon);
}
.dark {
  background-color: var(--dark);
}
.fairy {
  background-color: var(--fairy);
}

/* DUAL TYPES - removed, now automatically generated */

/* MEDIA QUERIES */

@media only screen and (max-width: 769px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 1015px) {
}
img {
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);
  opacity: 0.6;
}
