body {
  background: grey;
}

/* CONTAINER */
.container {
  display: grid;
  width: 400px;
  height: 500px;
  grid-template-columns: 100px minmax(100px, 500px) 100px;

}



.mon {

  padding: 20px;
  margin: 10px;
  border: 2px red solid;
  /* width: 200px; */
  text-align: center;
}

/* .block {
  width: 300px;
  height: 300px;
} */
/* SINGLE TYPES*/
.normal {
  background-color:#A8A878;
}

.fight {
  background-color:#C03028;
}

.flying {
  background-color:#A890F0;
}

.poison {
  background-color:#A040A0;
}

.ground {
  background-color:#E0C068;
}

.rock {
  background-color:#B8A038;

}

.bug {
  background-color:#A8B820;
}

.ghost {
  background-color:#705898;
}

.steel {
  background-color:#B8B8D0;
}

.fire {
  background-color: rgba(240, 128, 48, .8);
}

.water {
  background-color:#6890F0;
}

.grass {
  background-color:#78C850;
}

.electric {
  background-color:#F8D030;
}

.psychic {
  background-color:#F85888;
}

.ice {
  background-color:#98D8D8;
}

.dragon {
  background-color:#7038F8;
}

.dark {
  background-color:#705848;
}

.fairy {
  background-color:#EE99AC;
}

