/* Colors */
:root {
  --normal: #a8a878;
  --fighting: #c03028;
  --flying: #a890f0;
  --poison: #a040a0;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ghost: #705898;
  --steel: #b8b8d0;
  --fire: #f08030;
  --water: #6890f0;
  --grass: #78c850;
  --electric: #f8d030;
  --psychic: #f85888;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --dark: #705848;
  --fairy: #ee99ac;
}

/* BODY */
body {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
}

/* BLOCK ELEMENTS */
.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  box-sizing: border-box;

  /* code below centers the cards on the axis */
  margin: 0 auto;
  justify-content: center;
}

.mon {
  width: 180px;
  height: 180px;
  padding: 25px;
  margin: 10px;
  border: 1px white solid;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 5px;
}

.mon img {
  height: 180px;
}

/* STATES */
.mon:hover {
  border: red 1px solid;
}

/* SINGLE TYPES*/

.normal {
  background-color: var(--normal);
}
.fighting {
  background-color: var(--fighting);
}
.flying {
  background-color: var(--flying);
}
.poison {
  background-color: var(--poison);
}
.ground {
  background-color: var(--ground);
}
.rock {
  background-color: var(--rock);
}
.bug {
  background-color: var(--bug);
}
.ghost {
  background-color: var(--ghost);
}
.steel {
  background-color: var(--steel);
}
.fire {
  background-color: var(--fire);
}
.water {
  background-color: var(--water);
}
.grass {
  background-color: var(--grass);
}
.electric {
  background-color: var(--electric);
}
.psychic {
  background-color: var(--psychic);
}
.ice {
  background-color: var(--ice);
}
.dragon {
  background-color: var(--dragon);
}
.dark {
  background-color: var(--dark);
}
.fairy {
  background-color: var(--fairy);
}

/* DUAL TYPES */

.bug-grass {
  background: linear-gradient(var(--grass) 0%, var(--bug) 100%);
}
.bug-poison {
  background: linear-gradient(var(--bug) 0%, var(--poison) 100%);
}
.dragon-flying {
  background: linear-gradient(var(--dragon) 0%, var(--flying) 100%);
}
.electric-flying {
  background: linear-gradient(var(--flying) 0%, var(--electric) 100%);
}
.electric-steel {
  background: linear-gradient(var(--steel) 0%, var(--electric) 100%);
}
.ghost-poison {
  background: linear-gradient(var(--poison) 0%, var(--ghost) 100%);
}
.grass-psychic {
  background: linear-gradient(var(--psychic) 0%, var(--grass) 100%);
}
.ground-rock {
  background: linear-gradient(var(--rock) 0%, var(--ground) 100%);
}
.ice-flying {
  background: linear-gradient(var(--flying) 0%, var(--ice) 100%);
}
.ice-psychic {
  background: linear-gradient(var(--psychic) 0%, var(--ice) 100%);
}
.normal-fairy {
  background: linear-gradient(var(--fairy) 0%, var(--normal) 100%);
}
.bug-flying {
  background: linear-gradient(var(--flying) 0%, var(--bug) 100%);
}
.normal-flying {
  background: linear-gradient(var(--flying) 0%, var(--normal) 100%);
}
.poison-dark {
  background: linear-gradient(var(--dark) 0%, var(--poison) 100%);
}
.poison-flying {
  background: linear-gradient(var(--flying) 0%, var(--poison) 100%);
}
.poison-ground {
  background: linear-gradient(var(--ground) 0%, var(--poison) 100%);
}
.psychic-fairy {
  background: linear-gradient(var(--fairy) 0%, var(--psychic) 100%);
}
.rock-flying {
  background: linear-gradient(var(--flying) 0%, var(--rock) 100%);
}
.rock-ground {
  background: linear-gradient(var(--ground) 0%, var(--rock) 100%);
}
.rock-water {
  background: linear-gradient(var(--water) 0%, var(--rock) 100%);
}
.water-fighting {
  background: linear-gradient(var(--fighting) 0%, var(--water) 100%);
}
.water-flying {
  background: linear-gradient(var(--flying) 0%, var(--water) 100%);
}
.water-ice {
  background: linear-gradient(var(--ice) 0%, var(--water) 100%);
}
.water-poison {
  background: linear-gradient(var(--poison) 0%, var(--water) 100%);
}
.water-psychic {
  background: linear-gradient(var(--psychic) 0%, var(--water) 100%);
}
.grass-poison {
  background: linear-gradient(var(--poison) 0%, var(--grass) 100%);
}
.fire-flying {
  background: linear-gradient(var(--flying) 0%, var(--fire) 100%);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 769px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 1015px) {
}
img {
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);
  opacity: 0.6;
}
